:root {
  --primary-bg-color: #000000;
  /* colour: #f4f4f4 */
  --text-color: #ffffff;
  --main-bg-color: #683e3e;
  --main-text-color: #fff;
  --main-btn-bg-color: #c1aeae;
}

Changed
  the
  primary
  background
  colour
  to
  black
  and
  the
  main
  background
  colour
  (header and footer)
  to
  a
  shade
  of
  maroon,
as
  I
  believed
  the
  bright
  purple/pink
  colours
  from
  the
  music
  video
  worked
  well
  with
  much
  distinctly
  darker
  colours
  such
  as
  maroon
  and
  black
  and
  offered
  a
  visually
  pleasing
  complementation
  of
  colours.
  body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Add additional styles as needed */

/* Create a container for the main content */
.container {
  max-width: 1000px;
  width: 100%;
  padding: 10px;
}

/* Header styling */
header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 50px 0;
  /* changed padding to be thickersince I wanted it to be more visually prominent to showcase a title */
  text-align: center;
  width: 100%;
}

/* Navigation styling */
nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

/* Media player styling */
.media-player {
  width: 100%;
  margin: 0 auto;
}

.media-player video {
  max-width: 100%;
}

.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--main-bg-color);
  width: 0;
  transition: width 0.3s ease;
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

/* text styling */

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding-bottom: 10px;
  padding-top: 20px;
}

h1 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.7rem;
}

/* added 20 pixels of padding to the top so that the icon was not too close to the media controls */

#heart-button {
  padding-top: 10px;
  background-color: #000000;
}

img#heart-img {
  outline: none !important;
}
