* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: azure;
  /* margin-top: 2rem; */
  margin-top: 2%;
}

h2 {
  font-size: 3rem;
  text-align: center;
  color: azure;
  /* margin-top: 2rem; */
}

h1,
h2 {
  font-family: "Della Respira", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url(gallery2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* The body contains the main background image and I 
implemented background-size,repeat and attachment settings
 in order to make the background image static across 
 varying types and sizes of screens */

.slider-container-2 {
  overflow: hidden;
  width: 100%;
  max-width: 2200px;
  margin-top: 80px;
  /* adjust margin top to adjust placement of slider */
  position: relative;
  margin: 25px auto;
  align-items: center;
}

/* Scroll settings -----------------------------------------------------------------------------*/

.slider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.slider-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Poistioning the buttons------------------------------------------------------------------------- */

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-button,
#right-button {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

/*Hover overlay  ------------------------------------------------------------------------------------- */

/* I was initially struggling a lot with the hover effect as when 
I attempted the image would change its size and position on screen 
and I was still not able to properly identify the problem after various 
tries. However I've concluded that I may have had a statement somewhere 
that was overwritten regarding positioning of the image. To not risk any 
further mistakes on my current code I decided to start over on a different
 file and I started off by positioning the image first and programming 
 the hover effects, and then duplicating it and adding in the scroll effects . 
 Even though I still dont know the root of the initial problem, this approach 
 allowed me to overlook and change my code accordingly in a reflective and 
 evaluative manner */

/* hover effect--------------------------------------------------------------------------------------------- */

.image {
  position: relative;
  width: 800px;
  margin: 25px auto;
  align-items: center;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: aliceblue;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.image__overlay:hover {
  opacity: 1;
}

.image__title {
  font-size: 2rem;
  font-weight: bold;
}

/* .slider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin-top: 30px;
} */

.image {
  min-width: 40%;
  box-sizing: border-box;
  display: block;
  margin-right: 20px;
  margin-left: 30%;
}

.slider-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
